@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

.initial-wrapper{
  display: flex;
}

.initial-section{
  width: 50%;
  height: 100vh;
  background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
}

.image-section{
  width: 50%;
  height: 100vh;
  background: url(./assets/main-img.png);
  background-position: center;
  background-size: cover;
  text-align: center;
}